﻿@model TestimonialModel

@using Nop.Web.Areas.Admin.Models.Testimonials
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.testimonials").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Manage testimonials");
}

<form asp-controller="Testimonial" asp-action="Create" method="post" id="Testimonial-form" enctype="multipart/form-data">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.testimonials.createtestimonialDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("admin.contentmanagement.testimonials.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <input asp-for="Id" type="hidden" />
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_group_details_top", additionalData = Model.Id })
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Catalog.Products.CommonInfo")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerName" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.CustomerName" asp-required="true" />
                                <span asp-validation-for="CustomerName"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Rating" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.Rating" asp-required="true" />
                                <span asp-validation-for="Rating"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Review" />
                            </div>
                            <div class="col-md-6">
                                <nop-textarea asp-for="@Model.Review" asp-required="true" />
                                <span asp-validation-for="Review"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="IsPublished" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.IsPublished" />
                                <span asp-validation-for="IsPublished"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="HomePage" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.HomePage" />
                                <span asp-validation-for="HomePage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="TestimonialPage" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.TestimonialPage" />
                                <span asp-validation-for="TestimonialPage"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Avatar" />
                            </div>
                            <div class="col-md-6">
                                <input name="uploadedFile" type="file" />
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_group_details_bottom", additionalData = Model.Id })
            </div>
        </div>
    </div>
</form>