﻿@model ProductDetailsModel
@if (Model.DisplayDiscontinuedMessage)
{
    <div class="discontinued-product">
        <h4>@T("Products.Discontinued")</h4>
    </div>
}
else if (Model.DisplayAvalablityMessage)
{
    <div class="discontinued-product">
        <h4>@T("Products.Discontinued")</h4>
    </div>
}