﻿@model TestimonialModel

@using Nop.Web.Models.Testimonial


    @foreach (var review in Model.Items)
    {
        var ratingPercent = review.Rating * 20;
        <div class="product-review-item">
            <div class="review-item-head">
                <div class="review-title">
                    <strong>@review.CustomerName</strong>
                </div>
                <div class="product-review-box">
                    <div class="rating">
                        <div style="width: @(ratingPercent)%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="review-content">
                <div class="review-text">
                    @Html.Raw(Nop.Core.Html.HtmlHelper.FormatText(review.Review, false, true, false, false, false, false))
                </div>
                <div class="review-info">
                    <span class="date">
                        <label>@T("Reviews.Date"):</label>
                        <span>@review.CreatedDate</span>
                    </span>
                </div>
            </div>
        </div>
    }
