﻿@model TestimonialModel

@using Nop.Web.Models.Testimonial
@{
    Layout = "_ColumnsOne";
    
    Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-product-reviews-page");
}
<div class="page product-reviews-page">
    <div class="page-title">
        <h1>Testimonial</h1>
    </div>
    <div class="page-body">
        <div class="write-review" id="review-form">
            <div class="title">
                <strong>@T("Reviews.Write")</strong>
            </div>
            <form asp-controller="Testimonial" asp-action="Testimonial" method="post">
                <div asp-validation-summary="ModelOnly" class="message-error"></div>
                <div class="fieldset">
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="Review" asp-postfix=":"></label>
                            <textarea asp-for="Review" class="review-text"></textarea>
                            <nop-required />
                            <span asp-validation-for="Review"></span>
                        </div>
                        <div class="review-rating">
                            <label asp-for="Rating" asp-postfix=":"></label>
                            <ul>
                                <li class="label first">@T("Reviews.Fields.Rating.Bad")</li>
                                <li class="rating-options">
                                    <input asp-for="Rating" value="1" type="radio" id="addproductrating_1" />
                                    <input asp-for="Rating" value="2" type="radio" id="addproductrating_2" />
                                    <input asp-for="Rating" value="3" type="radio" id="addproductrating_3" />
                                    <input asp-for="Rating" value="4" type="radio" id="addproductrating_4" />
                                    <input asp-for="Rating" value="5" type="radio" id="addproductrating_5" />
                                </li>
                                <li class="label last">@T("Reviews.Fields.Rating.Excellent")</li>
                            </ul>
                        </div>
                            <div class="captcha-box">
                            </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="add-review" class="button-1 write-product-review-button" value="@T("Reviews.SubmitButton")" />
                </div>
            </form>
        </div>
    </div>
</div>