﻿@model TestimonialModel
@using Nop.Core
@using Nop.Web.Models.Testimonial
@using Nop.Core.Domain.Customers
@inject IWorkContext workContext;
@{
    Layout = "_ColumnsOne";

    Html.AddTitleParts(T("PageTitle.ProductReviews").Text);
    //page class
    Html.AppendPageCssClassParts("html-product-reviews-page");
}

<div class="page product-reviews-page">
    <div class="page-title">
        <h1>Testimonial</h1>
    </div>
    <div class="page-body">
        <div class="product-review-list">
            <div class="title news-items">
                <strong>@T("Reviews.ExistingReviews")</strong>
            @if (!workContext.CurrentCustomer.IsGuest())
            {
                <div class="buttons" style="float: right;">
                    <a href="@Url.Action("Testimonial", "Testimonial")" class="read-more">Add New</a>
                </div>
            }
            </div>
            @await Html.PartialAsync("_testimonialList", Model)
        </div>
    </div>
</div>