﻿@model FAQCategoryModel

@using Nop.Web.Areas.Admin.Models.FAQ
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.FAQCategory").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("FAQ Category");
}

<form asp-controller="FAQ" asp-action="CategoryCreate" method="post" id="FAQ-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.FAQCategory.createfaqDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="CategoryList">@T("admin.contentmanagement.FAQCategory.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <input asp-for="Id" type="hidden" />
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_group_details_top", additionalData = Model.Id })
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Catalog.Products.CommonInfo")
                    </div>
                    <div class="panel-body">
                        @(Html.LocalizedEditor<FAQCategoryModel, FAQCategoryLocalizedModel>("product-info-localized",
                                    @<div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                <nop-label asp-for="@Model.Locales[item].CategoryName" />
                                            </div>
                                            <div class="col-md-6">
                                                <nop-editor asp-for="@Model.Locales[item].CategoryName" asp-required="true" />
                                                <span asp-validation-for="@Model.Locales[item].CategoryName"></span>
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                                    </div>
                                    ,@<div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <nop-label asp-for="CategoryName" />
                                        </div>
                                        <div class="col-md-6">
                                            <nop-editor asp-for="@Model.CategoryName" asp-required="true" />
                                            <span asp-validation-for="CategoryName"></span>
                                        </div>
                                    </div>
                                </div>
                                                                                ))
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Published" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.Published" />
                                <span asp-validation-for="Published"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_group_details_bottom", additionalData = Model.Id })
            </div>
        </div>
    </div>
</form>