﻿@model FAQModel

@using Nop.Web.Areas.Admin.Models.FAQ
@{
    //page title
    ViewBag.Title = T("Admin.ContentManagement.FAQ").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("FAQ List");
}

<form asp-controller="FAQ" asp-action="Edit" method="post" id="FAQ-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.ContentManagement.FAQ.EditFAQDetails")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("admin.contentmanagement.FAQ.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="product-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
        </div>
    </div>
    <input asp-for="Id" type="hidden" />
    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_group_details_top", additionalData = Model.Id })
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @T("Admin.Catalog.Products.CommonInfo")
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CategoryId" />
                            </div>
                            <div class="col-md-6">
                                <nop-select asp-for="CategoryId" asp-items="Model.Categories" />
                                <span asp-validation-for="CategoryId"></span>
                            </div>
                        </div>
                         @(Html.LocalizedEditor<FAQModel, FAQLocalizedModel>("product-info-localized",
                        @<div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.Locales[item].Question" />
                                </div>
                                <div class="col-md-6">
                                    <nop-textarea asp-for="@Model.Locales[item].Question" asp-required="true" />
                                    <span asp-validation-for="@Model.Locales[item].Question"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="@Model.Locales[item].Answer" />
                                </div>
                                <div class="col-md-6">
                                    <nop-textarea asp-for="@Model.Locales[item].Answer" asp-required="true" />
                                    <span asp-validation-for="@Model.Locales[item].Answer"></span>
                                </div>
                            </div>
                             <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                        </div>
                        ,@<div>
                             <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="Question" />
                                </div>
                                <div class="col-md-6">
                                    <nop-textarea asp-for="@Model.Question" asp-required="true" />
                                    <span asp-validation-for="Question"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <nop-label asp-for="Answer" />
                                </div>
                                <div class="col-md-6">
                                    <nop-textarea asp-for="@Model.Answer" asp-required="true" />
                                    <span asp-validation-for="Answer"></span>
                                </div>
                            </div>
                        </div>
                        ))
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CreatedDate" />
                            </div>
                            <div class="col-md-6">
                                <div class="form-text-row">@Model.CreatedDate</div>
                                <input asp-for="CreatedDate" type="hidden" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Published" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="@Model.Published" />
                                <span asp-validation-for="Published"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="DisplayOrder" />
                            </div>
                            <div class="col-md-6">
                                <nop-editor asp-for="DisplayOrder" />
                                <span asp-validation-for="DisplayOrder"></span>
                            </div>
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_forum_group_details_bottom", additionalData = Model.Id })
            </div>
        </div>
    </div>
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="product-delete" />